body {
	background-color: black;
	margin: 0px;
}

.container {
	position: relative;
	margin: auto;
	width: fit-content;
}

div.row {
	margin-bottom: -4px;
}

div.row div {
	width: 20px;
	height: 20px;
	display: inline-block;
}

div.brick {
	background: url("assets/brick.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

div.coin {
	background: url("assets/coin.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 6px 6px;
}

div.cherry {
	background: url("assets/cherry.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

div#pacman {
	background: url("assets/pacman.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20px;
	width: 20px;
	position: absolute;
}

div#score {
	font-size: 30px;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

div#scoreLabel {
	font-size: 16px;
	color: white;
	margin-bottom: 10px;
	font-family: 'Press Start 2P', cursive;
}

div.ScoreCon {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 33%;
}

div.stage {
	position: relative;
	text-align: center;
	font-size: 25px;
	color: white;
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	width: 33%;
}

div#paclife {
	width: 33%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.information {
	display: block;
	width: 800px;
	margin: 20px auto;
}